---
---

@import "{{ site.theme }}";


h1:not([id]) {
	display: none;
}

body {
	max-width: 55em;
	margin: auto;
	padding: 1em 2em;
	font-family: Cordana, Calibri, sans-serif !important;
}

div.markdown-body {
	font-family: Cordana, Calibri, sans-serif !important;
	background: none !important;
}

img {
	background: transparent !important;
}
	
img.logo {
	display: block;
	width: 5em;
	margin: 0 auto;
	padding: 0;
}

h1, h2 {
	left: 0;
	margin: 0 !important;
	
	text-align: center;
	width: 100%;
	
	font-size: 2em;
	font-weight: bold !important;
	font-family: Cordana, Calibri, sans-serif !important;
	border-bottom: none !important;
}

.markdown-body h2 {
	margin-top: 1.5em !important;
	margin-bottom: 0.65em !important;
	font-weight: normal !important;
	font-size: 1.5em;
}

.markdown-body h3 {
	margin-top: 1.5em !important;
	margin-bottom: 0.5em !important;
	font-weight: normal !important;
	font-size: 1.5em;
	border-bottom: dotted lightgray 1px;
}

p {
	font-size: 1.2em !important;
	text-align: justify;
}


ul, li {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.25em;
}


.my-5 {
	margin-top: 0 !important;
}

h1:not([id])+p {
	margin-bottom: 0 !important;
}

div.figures {
	text-align: center;
}

span.figure {
	display: inline-block;
	border: solid 1px red;
	width: 44%;
	margin: 1em 0.25em 1.5em 0.25em;
	font-weight: 300;
	font-size: 0.95em;
	padding: 0.5em;
	border: 1px solid lightgray;
	border-radius: 0.4em;
	padding: 0 0.5em;
	/*background: linear-gradient(135deg, #ffffff 40%, #f0f0f0 80%);*/
}

span.figure img {
	margin-top: 0.5em;
	width: 100%;
}

.footnote {
	margin-top: 2em;
	border-top: solid whitesmoke 1px;
	text-align: center;
	font-size: 1em;
	font-weight: 300;
}

.footnote a, .footnote a:visited {
	text-decoration: none;
	padding: 0 0.5em;
	color: gray;
}

.footnote a:hover {
	color: black;
}

.footer {
	display: none;
}

.gallery {
	display: block;
	text-align: center;
}

.style-block {
	display: inline-block;
	width: 10em;
	height: 12em;
	text-align: center;
	background: white;
	border-radius: 0.5em;
	cursor: pointer;
	text-decoration: none;
}

.style-block.nocaption {
	height: 10em !important;
	padding: 1em !important;
}

.style-block img {
	width: 8em;
}

.style-block:hover img {
	width: 8em;
}

.style-block:hover {
	filter: drop-shadow(lightgray 0 0 0.25em);
	background: #fafafa;
	background: linear-gradient(135deg, #ffffff 40%, #f0f0f0 80%);
	text-decoration: none;
}

.style-block:visited {
	color: black;
}

.style-block .title {
	margin-top: 0.5em;
	font-size: 1.25em;
	/* font-weight: 300; */
	margin-bottom: 0.5em;
	color: black;
	text-decoration: none;
}

.style-block:hover .title {
	/* font-weight: bold; */
	color: black;
	text-decoration: none;
}