body {
	font-family: Cordana, Calibri, sans-serif;
	max-width: 40em;
	margin: auto;
	padding: 1em 2em;
}

h1, h3 {
	color: black;
	
	left: 0;
	margin: 0;
	
	z-index: 1;
	text-align: center;
	width: 100%;
	
	font-size: 2em;
	font-weight: bold;
}

h3 {
	margin-top: 1em;
	font-size: 1.75em;
	font-weight: normal;
}

img.logo {
	display: block;
	width: 6em;
	margin: auto;
}

.footnote {
	display: block;
	margin-top: 2em;
	border-top: solid whitesmoke 1px;
	text-align: center;
	font-size: 1em;
	font-weight: 300;
}

a {
	color: dimgray;
	text-decoration: none;
}

a:hover {
	color: black;
}

a:visited {
	color: dimgray;
}

p a {
	color: royalblue !important;
}

li a {
	font-weight: bold;
	color: royalblue !important;
	text-transform: uppercase;
}

.style-block {
	display: inline-block;
	width: 10em;
	height: 12em;
	text-align: center;
	background: white;
	border-radius: 0.5em;
	cursor: pointer;
	text-decoration: none;
}

.style-block img {
	width: 8em;
	/*border-radius: 10em;*/
	/*filter: drop-shadow(0 0 0.5em);*/
}

.style-block:hover img {
	width: 8em;
	/*border-radius: 10em;*/
	/*filter: drop-shadow(white 0.5em 0 0.2em);*/
}

.style-block:hover {
	filter: drop-shadow(lightgray 0 0 0.25em);
	background: #fafafa;
	background: linear-gradient(135deg, #ffffff 40%, #f0f0f0 80%);
}

.style-block:visited {
	color: black;
}

.style-block .title {
	margin-top: 0.5em;
	font-size: 1.25em;
	/* font-weight: 300; */
	margin-bottom: 0.5em;
	color: black;
}

.style-block:hover .title {
	/* font-weight: bold; */
	color: black;
}

.big-block {
	width: 18em !important;
	height: 13em !important;
}

.big-block img {
	width: 17em !important;
	border-radius: 0.25em;
}

.big-block:hover img {
	width: 17em !important;
}


.video-block {
	width: 31em !important;
	height: auto;
	text-align: center;
	background: white;
	text-decoration: none;
	margin: 0 auto;
	padding-bottom: 0.35em;
}

.video-block img {
	width: 30em !important;
	border-radius: 0.25em;
}

.video-block .info {
	text-align: left;
	font-style: italic;
	font-weight: 300;
	width: 28em !important;
	margin: 0.5em auto;
	font-size: 1.05em;
	color: black;
}

.live-right {
	text-align: left;
	margin: 0.5em auto 2em auto;
	display: block;
	width: 30em !important;
	font-style: normal;
	font-weight: normal;
}

.live-right:hover {
	font-weight: bold;
}



p {
	font-size: 1.25em;
	text-align: justify;
}

li {
	margin-top: 0.5em;
	font-size: 1.15em;
	font-weight: 300;
}

li.normal {
	margin-bottom: 0.5em;
	font-size: auto;
	font-weight: normal;
}

.gallery {
	/*
	border-top: 1px dotted lightgray;
	border-bottom: 1px dotted lightgray;
	*/
	text-align: center;
}

.role {
	display: block;
	font-weight: bold;
	font-size: 120%;
}

div.figures {
	text-align: center;
}

span.figure {
	display: inline-block;
	border: solid 1px red;
	width: 44%;
	margin: 1em 0.25em;
	font-weight: 300;
	font-size: 0.85em;
	padding: 0.5em;
	border: 1px dotted lightgray;
	border-radius: 0.5em;
}

span.figure img {
	margin-top: 0.5em;
	width: 100%;
}

.warning {
	color: crimson !important;
	background: pink;
}